//colors
$charcoal-grey: #343a40;
$gunmetal: #495057;
$blue-grey: #868e96;
$light-grey-blue: #adb5bd;
$light-blue-grey: #ced4da;
$light-sky-blue: #dee2e6;
$very-light-blue: #e9ecef;
$pale-grey: #f1f3f5;
$white: #ffffff;
$coral: #fa5252;
$salmon: #ff6b6b;
$peachy-pink: #ff8787;
$orange: #fd7e14;
$mango: #ff922b;
$dark-sky-blue: #339af0;
$dark-pastel-green: #40c057;
$boring-green: #51cf66;
$lightish-green: #69db7c;
// --blue
$blue_0: #e7f5ff;
$blue_1: #d0ebff;
$blue_2: #a5d8ff;
$blue_3: #74c0fc;
$blue_4: #4dabf7;
$blue_5: #339af0;
$blue_6: #228be6;
$blue_7: #1c7ed6;
$blue_8: #1971c2;
$blue_9: #1864ab;
// --gray
$gray_0: #f8f9fa;
$gray_1: #f1f3f5;
$gray_2: #e9ecef;
$gray_3: #dee2e6;
$gray_4: #ced4da;
$gray_5: #adb5bd;
$gray_6: #868e96;
$gray_7: #495057;
$gray_8: #343a40;
$gray_9: #212529;
// --red
$red_0: #fff5f5;
$red_1: #ffe3e3;
$red_2: #ffc9c9;
$red_3: #ffa8a8;
$red_4: #ff8787;
$red_5: #ff6b6b;
$red_6: #fa5252;
$red_7: #f03e3e;
$red_8: #e03131;
$red_9: #c92a2a;
// --green
$green_0: #ebfbee;
$green_1: #d3f9d8;
$green_2: #b2f2bb;
$green_3: #8ce99a;
$green_4: #69db7c;
$green_5: #51cf66;
$green_6: #40c057;
$green_7: #37b24d;
$green_8: #2f9e44;
$green_9: #2b8a3e;
// --yellow
$yellow_0: #fff9db;
$yellow_1: #fff3bf;
$yellow_2: #ffec99;
$yellow_3: #ffe066;
$yellow_4: #ffd43b;
$yellow_5: #fcc419;
$yellow_6: #fab005;
$yellow_7: #f59f00;
$yellow_8: #f08c00;
$yellow_9: #e67700;
// --orange
$orange_0: #fff4e6;
$orange_1: #ffe8cc;
$orange_2: #ffd8a8;
$orange_3: #ffc078;
$orange_4: #ffa94d;
$orange_5: #ff922b;
$orange_6: #fd7e14;
$orange_7: #f76707;
$orange_8: #e8590c;
$orange_9: #d9480f;


$text-color: #333333;
$text-secondary: #4a4a4a;
$dark-text-color: #454545;
$light-text-color: #888888;
$background-grey: #f2f2f2;

// font sizes
$normal: 1em;
$small: 0.875em;
$smaller: 0.75em;
$large: 1.125em;
$larger: 1.25em;
$big: 1.375em;
$bigger: 1.5em;


$border-color: #b2b2b2;
$border-grey-light: #eeeeee;
$gray: #697178;

@mixin clearfix {
    &::after {
      display: table;
      clear: both;
      content: '';
    }
  }

@mixin create-flex($display, $jc: center, $ai: stretch, $fd: column, $fw: nowrap) {
  display: $display;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

@mixin ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@function calcSize($parent, $child) {
  @if $child {
    @return $parent - $child;
  } @else {
    @return $parent
  }
}