// colors
// --blue
$blue_0: #e7f5ff;
$blue_1: #d0ebff;
$blue_2: #a5d8ff;
$blue_3: #74c0fc;
$blue_4: #4dabf7;
$blue_5: #339af0;
$blue_6: #228be6;
$blue_7: #1c7ed6;
$blue_8: #1971c2;
$blue_9: #1864ab;
// --gray
$gray_0: #f8f9fa;
$gray_1: #f1f3f5;
$gray_2: #e9ecef;
$gray_3: #dee2e6;
$gray_4: #ced4da;
$gray_5: #adb5bd;
$gray_6: #868e96;
$gray_7: #495057;
$gray_8: #343a40;
$gray_9: #212529;
// --red
$red_0: #fff5f5;
$red_1: #ffe3e3;
$red_2: #ffc9c9;
$red_3: #ffa8a8;
$red_4: #ff8787;
$red_5: #ff6b6b;
$red_6: #fa5252;
$red_7: #f03e3e;
$red_8: #e03131;
$red_9: #c92a2a;
// --green
$green_0: #ebfbee;
$green_1: #d3f9d8;
$green_2: #b2f2bb;
$green_3: #8ce99a;
$green_4: #69db7c;
$green_5: #51cf66;
$green_6: #40c057;
$green_7: #37b24d;
$green_8: #2f9e44;
$green_9: #2b8a3e;
// --yellow
$yellow_0: #fff9db;
$yellow_1: #fff3bf;
$yellow_2: #ffec99;
$yellow_3: #ffe066;
$yellow_4: #ffd43b;
$yellow_5: #fcc419;
$yellow_6: #fab005;
$yellow_7: #f59f00;
$yellow_8: #f08c00;
$yellow_9: #e67700;
// --orange
$orange_0: #fff4e6;
$orange_1: #ffe8cc;
$orange_2: #ffd8a8;
$orange_3: #ffc078;
$orange_4: #ffa94d;
$orange_5: #ff922b;
$orange_6: #fd7e14;
$orange_7: #f76707;
$orange_8: #e8590c;
$orange_9: #d9480f;

// sizes
$tbl_header_height: 68px;
$tbl_header_width: 127px;
$currencyIcon: 20px;
$tbl_estimate_height: 364px;

// r-fixed-table
.content-block {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  font-family:'Roboto', 'Roboto-Bold', 'Roboto Bold';
}
.left-block {
  vertical-align: top;
  height: $tbl_header_height;
  padding: 2px;
  border-bottom: 2px solid #ced4da;
  margin-right: 10px;
  min-width: 25%;
  width: 1px;
}
.right-block {
  vertical-align: top;
  height: $tbl_header_height;
  white-space: nowrap;
  overflow: hidden hidden;
  min-width: 75%;
}
.left-block-content {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.box-currency {
  @extend .df-center-jcstart;
  width: $currencyIcon;
  height: 100%;
  font-size: 12px;
  padding-left: 3px;
  color: $gray_5;
}

// flex box
.df-aicenter {
  display: flex;
  align-items: center;
}
.df-center-jcend {
  @extend .df-aicenter;
  justify-content: flex-end;
}
.df-center-jcstart {
  @extend .df-aicenter;
  justify-content: flex-start;
}
.df-center-jccenter {
  @extend .df-aicenter;
  justify-content: center;
}
