$tbl_header: 68px;
// r-fixed-table
.content-block {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  width: 100%;
  font-family:'Roboto', 'Roboto-Bold', 'Roboto Bold';
}
.left-block {
  vertical-align: top;
  height: $tbl_header;
  padding: 2px;
  border-bottom: 2px solid #ced4da;
  margin-right: 10px;
  min-width: 25%;
}
.right-block {
  vertical-align: top;
  height: $tbl_header;
  white-space: nowrap;
  overflow: hidden hidden;
  min-width: 75%;
}
.left-block-content {
  display: flex;
  align-items: center;
  position: relative;
  height: 100%;
}
.df-aicenter {
  display: flex;
  align-items: center;
}
.df-center-jcend {
  @extend .df-aicenter;
  justify-content: flex-end;
}
.df-center-jcstart {
  @extend .df-aicenter;
  justify-content: flex-start;
}
.df-center-jccenter {
  @extend .df-aicenter;
  justify-content: center;
}
